.main-body{
    width: 20%;
    height: 100vh;
    border: 1px solid red;

}
.new-note-button{
    width: 100px;
}
.note-item{
    width: 100%;
    border: 1px solid black;
}
.note-item{
    border: 1px solid black;
}