.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #f3f3f3;
  padding:0px;
}
.new-note-button {
  width: auto;
  aspect-ratio: 1 / 1;
  display: block;
  margin: auto;

  border: none;
  box-sizing: border-box;
}
.new-note-tooltip{
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;

  width: auto;


}
.new-note-button:hover{
  box-sizing: border-box;
  /* border: 1px dotted black; */

  cursor: pointer;


}
.note-item {
  width: 100%;
  box-sizing: border-box;
  padding:5px;
  color: 	black;
  text-align: start;
  border-bottom: 1px solid #e5e7eb;
  padding-left: 15px;

}
.note-item:hover{
  background-color: #cbdaf1;
}
.active-note-item {
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  text-align: start;
  padding-left: 15px;

  border-bottom: 1px solid #e5e7eb;



  background-color: white;
  color: 	black;
  font-weight: bold;
  height: 100%;
}
