.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #f3f3f3;
}
.new-note-button {
  width: auto;
  aspect-ratio: 1 / 1;
  display: block;
  margin: auto;

  border: none;
  box-sizing: border-box;
}
.new-note-tooltip{
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;

  width: auto;


}
.new-note-button:hover{
  box-sizing: border-box;
  /* border: 1px dotted black; */

  cursor: pointer;


}
.note-item {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: 	#5c728a;

}
.note-item:hover, .active-note-item:hover{
  cursor: pointer;
}
.active-note-item {
  height: 40px;
  box-sizing: border-box;
  padding: 10px;

  background-color: white;
  color: 	#5c728a;
  font-weight: bold;
  height: 100%;
}
